body {
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
  color: #2e2e2e;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.home {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  margin-right: 15px;
}

.home img {
  width: 35px;
  height: 35px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: #009688;
    padding: 10px 25px;
    margin-right:12px;
    border-radius: 50px;
    transition: 0.3s;
    font-family: 'DM Sans Serif', Garamond, Palatino, serif;
}

.nav-link:hover {
  background-color: #00796b;
}

.page {
  width: 860px;
  margin: 120px auto 50px;
  padding: 40px;
  background-color: #ffffff;
}

.title-container h1 {
  font-family: Garamond, Palatino, Georgia, serif;
  font-size: 32px;
  margin: 0;
  color: #2e2e2e;
  text-transform: lowercase;
  font-variant: small-caps;
}

hr {
  border: 0;
  height: 2px;
  background-color: #009688;
  margin: 25px 0;
}

.content {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
}

.section {
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #d0d6da;
  background-color: #ffffff;
}

.childhood,
.teenage,
.college {
  background-color: #ffffff;
}

h2 {
  font-family: Garamond, Palatino, Georgia, serif;
  font-size: 23px;
  color: #009688;
  margin-top: 0;
}

.section-body {
  display: flex;
  align-items: flex-start;
}

.photo-box {
  width: 190px;
  height: 190px;
  background-color: #dcdcdc;
  margin-right: 20px;
  flex-shrink: 0;
}

.photo-box img {
  width: 100%;
  height: 100%;
}

.content p {
  text-align: justify;
  text-indent: 40px;
  margin: 0;
}

.back-top {
  text-align: center;
  margin-top: 25px;
}

.back-top a {
  text-decoration: none;
  color: #009688;
  font-weight: bold;
}

.back-top a:hover {
  text-decoration: underline;
}

.blog-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  
}

.blog-navigation a {
    text-decoration: none;
    color: #009688;
    font-weight: bold;
}

.blog-navigation a:hover {
    text-decoration: underline;
}

