body {
  margin-left: 70px; 
  padding: 0;
  background-color: #f7f7f7;
  color: #333333;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh; 
  padding: 50px 0;
  background-color: #009688;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  box-sizing: border-box;
}


.home {
  margin-left:30px;
  margin-bottom: 20px;
}

.home img {
  width: 40px;
  height: auto;
}


.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  font-family: 'DM Sans Serif', Garamond, Palatino, serif;
  display: block; 
  transition: 0.3s;
}

.nav-link:hover {
  font-size:25px;
  background-color: #009696; 
  color: #e0f2f1;
}


.paper {
  background: white;
  width: 1000px;
  min-height: 80vh;
  margin: 100px auto;
  padding: 40px;
  margin-left: 260px; 
  border-radius: 10px;
  box-shadow: 0 10px 30px #2d3436;
}

.paper h1 {
  margin-bottom: 30px;
  background-color: #009688;
  text-align: center;
  border-radius: 10px;
  color:white;
}


.gallery {
  column-count: 4;    
  column-gap: 15px;   
  padding: 10px;       
  width: 100%;
  box-sizing: border-box;
}

.gallery img {
  width: 100%; 
  display: block;
  margin-bottom: 15px;  
  border-radius: 5px;   
  transition: transform 0.3s ease;
}

@media (max-width: 800px) {
  .gallery { column-count: 2; }
}
@media (max-width: 500px) {
  .gallery { column-count: 1; }
}

.gallery img:hover {
  transform: scale(1.05);
}

.lightbox {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
}

.lightbox:target {
  display: flex;
}

.back-top {
  text-align: center;
  margin-top: 25px;
}

.back-top a {
  text-decoration: none;
  color: #009688;
  font-weight: bold;
}

.back-top a:hover {
  text-decoration: underline;
}
